<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net481" />
  <package id="Sitecore.ContentSearch" version="10.4.1" targetFramework="net481" />
  <package id="Sitecore.ContentSearch.SolrNetExtension" version="10.4.1" targetFramework="net481" />
  <package id="Sitecore.ContentSearch.SolrProvider" version="10.4.1" targetFramework="net481" />
  <package id="Sitecore.Kernel" version="10.4.1" targetFramework="net481" />
  <package id="SolrNet" version="1.0.19" targetFramework="net481" />
  <package id="SolrNet.Core" version="1.0.19" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>