<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <contentSearch.PopulateSolrSchema>
        <processor patch:after="processor[@type='Sitecore.ContentSearch.SolrProvider.Pipelines.PopulateSolrSchema.PopulateFields, Sitecore.ContentSearch.SolrProvider']"
                   type="SergMedium.ManagedSchemaExample.Processors.PopulateCustomIndexes, SergMedium.ManagedSchemaExample" />
      </contentSearch.PopulateSolrSchema>
    </pipelines>
  </sitecore>
</configuration>